{% extends 'admin_layout.html' %}

{% block css %}

    <style type="text/css">

    </style>


{% endblock %}


{% block content %}

    <!-- Start content-page -->
    <div class="content-page">

        <!-- Start content-bar -->
        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left">已转出党员信息</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"></li>
                                <li class="breadcrumb-item active"></li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>

            <div class="form-control">
                当前为从本组织转出的党员信息，<a href="/admin_member_info_manage/">点此查看</a>本组织现有的党员信息。提示：已转出的党员信息不可编辑修改。
            </div>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>用户名</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>政治面貌</th>
                    <th>入党日期</th>
                    <th>转正日期</th>
                    <th>转出日期</th>
                    <th>志愿时长</th>
                    <th>手机</th>
                    <th>邮箱</th>
                    <th>转到组织</th>
                </tr>
                </thead>
                <tbody>


                {% for row in data_list %}
                    <tr>
                        <th scope="row">{{ row.member_id }}</th>
                        <td>{{ row.user_account.username }}</td>
                        <td>{{ row.member_name }}</td>
                        <td>{{ row.member_gender }}</td>
                        <td>
                            {% if row.member_status != None %}
                                {{ row.member_status }}
                            {% else %}
                                未完善信息
                            {% endif %}
                        </td>
                        <td>
                            {% if row.first_date != None %}
                                {{ row.first_date|date:'Y-m-d' }}
                            {% else %}
                                未完善信息
                            {% endif %}
                        </td>
                        <td>
                            {% if row.member_status == '预备党员' %}
                                未转正
                            {% elif row.regular_date != None %}
                                {{ row.regular_date|date:'Y-m-d' }}
                            {% else %}
                                未完善信息
                            {% endif %}
                        </td>

                        <td>

                            {{ row.out_confirm_date|date:'Y-m-d' }}

                        </td>

                        <td>
                            {% if row.voluntary_time != None %}
                                {{ row.voluntary_time }} 小时
                            {% else %}
                                0 小时
                            {% endif %}
                        </td>
                        <td>
                            {% if row.member_phone != None %}
                                {{ row.member_phone }}
                            {% else %}
                                未完善信息
                            {% endif %}
                        </td>
                        <td>
                            {% if row.user_account.email != '' %}
                                {{ row.user_account.email }}
                            {% else %}
                                未完善信息
                            {% endif %}
                        </td>
                        <td>
                            {% if row.leave_to_party == '' %}
                                无转入操作
                            {% elif row.leave_to_party != None %}
                                {{ row.leave_to_party }}
                            {% else %}
                                无转入操作
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>


            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{ page_info.pager | safe }}

                </ul>
            </nav>


        </div>
        <!-- END content-bar -->

        <!-- Start content -->


        <!-- End content -->

    </div>
    <!-- End content-page -->

{% endblock %}

{% block js %}

{% endblock %}