{% extends 'admin_layout.html' %}

{% block css %}

    <style type="text/css">

    </style>


{% endblock %}

{% block content %}

    <!-- Start content-page -->
    <div class="content-page">

        <!-- Start content-bar -->
        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left">积极分子发展</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"></li>
                                <li class="breadcrumb-item active"></li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>

            <div class="form-control">
                <p>党员发展包括预备党员转正式党员和积极分子发展为预备党员,当前为积极分子发展页面<a type="button" href="/admin_member_develop/">点此切换</a>为预备党员发展页面</p>
                <label>转预备日期设置为：</label>
                <input type="date" id="fDateId" value="{{ date.first_date_set|date:'Y-m-d' }}">
            </div>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>用户名</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>政治面貌</th>
                    <th>申请入党日期</th>
                    <th>志愿时长</th>
                    <th>手机</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>


                {% for row in data_list %}
                    <tr>
                        <th scope="row">{{ row.activist_id }}</th>
                        <td>{{ row.user_account.username }}</td>
                        <td>{{ row.activist_name }}</td>
                        <td>{{ row.activist_gender }}</td>
                        <td>入党积极分子</td>
                        <td>{{ row.apply_date|date:'Y-m-d' }}</td>
                        <td>{{ row.voluntary_time }} 小时</td>
                        <td>{{ row.activist_phone }}</td>
                        <td>
                            <a type="button" onclick="showRewardModal('{{ row.activist_id }}','{{ row.user_account.username }}')"
                               class="btn btn-info btn-sm">转预备</a>
                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>


            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{ page_info.pager | safe }}

                </ul>
            </nav>


        </div>
        <!-- END content-bar -->

        <!-- Start content -->


        <!-- End content -->

    </div>
    <!-- End content-page -->

{% endblock %}

{% block js %}

    <script>
        function showRewardModal($nid,$username) {    /* 绑定事件 */
            var date = $('#fDateId').val()

            swal({
                title: "确定设置该积极分子转为预备党员吗？",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("设置成功！!", {
                            icon: "success",
                        });
                window.location.href = "/set_activist_develop/?nid=" + $nid + "&user=" + $username + "&date=" + date;
                    } else {
                    }
                });
        }
    </script>

{% endblock %}