<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">


        #id_admin_gender li {

            display: block;
            float: left;
            padding-right: 10px;
            padding-bottom: 10px;

        }


    </style>
</head>
<body>
<p>测试</p>

<ul id="id_admin_gender">

    <li>1</li>
    <li>2</li>
    <li>3</li>
</ul>


<div id="d" style="color:red;">
    <div>344</div>
</div>
<script>
    var obj = document.getElementById("d");
    document.body.removeChild(obj);
</script>






</body>
</html>